* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-spa-arg.arg-spa.lrx -text
/apertium-spa-arg.arg-spa.t1x -text
/apertium-spa-arg.spa-arg.dix -text
/apertium-spa-arg.spa-arg.lrx -text
/apertium-spa-arg.spa-arg.t1x -text
/autogen.sh -text
/configure.ac -text
/modes.xml -text
/svn-commit.tmp -text
